.upload-file-wrapper {
  min-height: 700px;
}

.upload-file-wrapper .side-bar-wrapper {
  position: relative;
  display: inline-block;
  height: 580px;
  border: 4px solid #EBF5F8;
  width: 100%;
  margin-top: 60px;
  /*overflow: auto;*/
  overflow: scroll;
}

.upload-file-wrapper .side-bar-wrapper .el-menu {
  border: none;
  width: 100%;
}

.upload-file-wrapper .side-bar-wrapper .el-menu /deep/ .el-menu-item {
  background-color: #ffffff;
  text-align: left;
}

.upload-file-wrapper .side-bar-wrapper .el-menu /deep/ .el-menu-item.is-active {
  color: #76B6C2;
}

.upload-file-wrapper .side-bar-wrapper .el-menu /deep/ .el-menu-item:hover {
  background: none;
}

.upload-file-wrapper .side-bar-wrapper .el-menu /deep/ .el-menu-item span {
  display: inline-block;
  position: relative;
  background-color: #9ACEDB40;
  /*width: 100%;*/
  min-width: 200px;
  line-height: 20px;
  text-align: left;
}

.upload-file-wrapper .side-bar-wrapper .el-menu /deep/ .el-menu-item span:hover {
  background-color: #9ACEDB20;
}

.upload-file-wrapper .side-bar-wrapper .el-menu /deep/ .el-submenu__title {
  background-color: #ffffff;
  text-align: left;
}


.upload-file-wrapper .side-bar-wrapper .el-menu /deep/ .el-submenu__title span {
  display: inline-block;
  position: relative;
  background-color: #9ACEDB80;
  /*width: 100%;*/
  min-width: 200px;
  line-height: 20px;
  text-align: left;
}

.upload-file-wrapper .side-bar-wrapper .el-menu /deep/ .el-submenu__title span:hover {
  background-color: #9ACEDB20;
}

.upload-file-wrapper .side-bar-wrapper .el-menu /deep/ .el-submenu__title.is-active {
  color: #76B6C2;
}
/*.el-submenu__title*/

.upload-file-wrapper .code-area-wrapper {
  position: relative;
  display: inline-block;
  height: 580px;
  border: 4px solid #EBF5F8;
  width: 100%;
  margin-top: 60px;
  /*overflow: auto;*/
  overflow: scroll;
}
