.breadcrumb-wrapper {
  position: relative;
  display: inline-block;
  margin-top: 30px;
  /*width: 90%;*/
  /*margin-left: 5%;*/
  margin-left: 30px;
}

.breadcrumb-wrapper i {
  cursor: pointer;
  margin-left: 10px;
}

.body-wrapper {
  position: relative;
  display: inline-block;
  margin-top: 50px;
  width: 96%;
  margin-left: 2%;
}

.body-wrapper .left-wrapper {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 100%;
  /*margin-top: 30px;*/
}

.body-wrapper .left-wrapper .button-wrapper {
  position: relative;
  display: inline-block;
  /*margin-left: 5%;*/
  /*width: 100%;*/
  /*text-align: center;*/
}

.body-wrapper .left-wrapper .intro-wrapper {
  position: relative;
  display: inline-block;
  height: 580px;
  border: 4px solid #EBF5F8;
  width: 100%;
  margin-top: 60px;
}

.body-wrapper .left-wrapper .intro-wrapper h3 {
  margin-top: 10px;
}

.body-wrapper .left-wrapper .intro-wrapper p {
  /*margin-top: 10px;*/
  position: relative;
  display: inline-block;
  width: 80%;
  background-color: #eee;
  /*line-height: 3em;*/
  margin-top: 3em;
}

.body-wrapper .right-wrapper {
  position: relative;
  display: inline-block;
  border: 4px solid #EBF5F8;
  width: 100%;
  height: 680px;
  /*right: 30px;*/
  /*left: 30px;*/
}

.body-wrapper .right-wrapper h3{
  margin-left: 20px;
  margin-top: 20px;
}

.body-wrapper .right-wrapper .data-wrapper {
  position: relative;
  display: inline-block;
  width: 90%;
  height: 100px;
  background-color: #9ACEDB20;
  margin-top: 20px;
  margin-left: 5%;
  padding-left: 20px;
  padding-right: 20px;
}

.body-wrapper .right-wrapper .data-wrapper .header-wrapper {
  position: relative;
  display: inline-block;
  margin-top: 10px;
  /*margin-left: 30px;*/
}

.body-wrapper .right-wrapper .data-wrapper .header-wrapper i {
  color: #333;
  position: relative;
  display: inline-block;
}

.body-wrapper .right-wrapper .data-wrapper .header-wrapper h4 {
  color: #333;
  position: relative;
  display: inline-block;
}

.body-wrapper .right-wrapper .data-wrapper .path-wrapper p{
  position: relative;
  display: inline-block;
}

.body-wrapper .right-wrapper .data-wrapper .path-wrapper a{
  position: relative;
  display: inline-block;
  color: #9AD9D7;
  font-size: 0.8em;
  cursor: pointer;
}

.body-wrapper .right-wrapper .data-wrapper .time-wrapper {
  /*margin-left: 30px;*/
}

.body-wrapper .right-wrapper .data-wrapper .time-wrapper p {
  color: #999;
}

.body-wrapper .right-wrapper .data-wrapper .icon-wrapper {
  position: absolute;
  right: 20px;
  /*line-height: 100px;*/
  top:0;
  /*top: -50%;*/
  /*transform: translate(0, 50%);*/
}

.body-wrapper .right-wrapper .data-wrapper .icon-wrapper i {
  color: #BCE5E0;
  font-size: 26px;
  margin-top: 37px;
  cursor: pointer;
  /*margin-top: 10px;*/
}
