.layer-wrapper {
  display: inline-block;
  position: relative;
  /*line-height: 300px;*/
  width: 100px;
  margin-bottom: 30px;
}

.layer-wrapper .square-img-wrapper {
  top: -20px;
  position: relative;
}

.layer-wrapper img {
  width: 100%;
}

.layer-wrapper p {
  width: 70%;
  text-align: center;
  margin-top: 10px;
  float: left;
}

.layer-wrapper i {
  position: relative;
  display: inline-block;
  margin-top: 12px;
  color: #9AD9D7;
  cursor: pointer;
  float: left;
}

div {
  /*position: relative;*/
  display: inline-block;
}

.arrow-wrapper {
  width: 50px;
  position: relative;
  top: -90px;
}

.dialog-wrapper {
  /*position: absolute;*/
  overflow: visible;
}
