/deep/ .el-upload-list {
  background-color: #EBF5F8
}

/deep/ .el-upload-list__item {
  background-color: #EBF5F8

}
/deep/ .el-upload {
  width: 100%;
}

.select-file-button-wrapper .select-file-button {
  position: relative;
  display: inline-block;
  background-color: #EBF5F8;
  /*margin-left: 15%;*/
  width: 100%;
  outline: none;
  color: #606266;
  /*display: block;*/
  margin-right: 40px;
  overflow: hidden;
  padding-left: 4px;
  text-overflow: ellipsis;
  -webkit-transition: color .3s;
  transition: color .3s;
  white-space: nowrap;
  font-size: 16px;
  padding-top: 1px;
  padding-bottom: 1px;
}

/*/deep/ .el-upload-list__item {*/
/*background-color: #EBF5F8*/

/*}*/
.select-file-button-wrapper {
  display: inline-block;
  margin-top: 5%;
  white-space: nowrap;
  width: 80%;
  margin-left: 25%;
}

/deep/ .el-upload-list {
  margin-top: -3%;
}
